<div>
    <!-- 정렬 버튼 -->
    <a th:href="@{|/answer/list/${question.id}?sort=desc|}">최신순</a> |
    <a th:href="@{|/answer/list/${question.id}?sort=asc|}">오래된 순</a>
</div>

<ul>
    <li th:each="answer : ${paging.content}">
        <span th:text="${answer.content}"></span>

        <!-- 삭제 버튼 (POST 폼) -->
        <form th:action="@{|/answer/delete/${answer.id}|}" method="post" style="display:inline">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit">삭제</button>
        </form>

        <!-- 수정 버튼 (간단히 수정 페이지 이동) -->
        <a th:href="@{|/answer/edit/${answer.id}|}">수정</a>
    </li>
</ul>
